@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  font-family: 'Poppins', sans-serif;
}

.texto {
  color: hsl(360, 0%, 100%);
  font-size: 16px;
}

.valor {
  background-color: hsl(248, 32%, 49%);
  color: hsl(360, 0%, 100%);
}

form {
  background-color: hsl(360, 0%, 100%);;
}

.formulario {
  color: hsl(249, 10%, 26%);
  display: grid;
  background-color: hsl(360, 0%, 100%);
}

.assine {
  background-color: hsl(154, 59%, 51%);
  color: hsl(360, 0%, 100%);
}

div {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
}

.serviço {
  color: hsl(0, 100%, 74%);
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  background-color: hsl(360, 0%, 100%);
}

.attribution a { 
  color: hsl(327, 88%, 50%); 
  text-decoration: none;
}
